{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    <div class="container mt-2 d-flex d-flex-row">
        {% for user in users %}
            {% if app.user != user %}
                <div class="card m-2">
                    <div class="card-body">
                        <h5 class="card-title">{{ user.email }}</h5>
                        {% set chatWithUser = app.user.chatWithUser(user) %}
                        {% if chatWithUser is not null %}
                            <a href="{{ path('app_chat', {'id': chatWithUser.id}) }}" class="btn btn-primary">Chatter</a>
                        {% else %}
                            <a href="{{ path('app_create_chat', {'id': user.id}) }}" class="btn btn-primary">Chatter</a>
                        {% endif %}
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}
