{% extends 'base.html.twig' %}

{% block title %}Hello ImportController!{% endblock %}

{% block body %}
    <div class="container-fluid mt-5">
        {% for import in imports %}
            <div id="importContainer{{ import.id }}" class="importContainer" data-mercure-public-url="{{ mercure_public_url }}" data-import-topic="{{ import.topics.0 }}" style="max-height:500px !important; overflow: scroll;"
            data-mercure-url="{{ mercure(import.topics[0])}}">
                <div class="row">
                    <div class="col-2">{{ import.name }}</div>
                    <div class="col-10">
                        <div class="progress">
                            <div class="progress-bar" role="progressbar"
                                 style="width: {{ import.percentProgress }}%;"
                                 aria-valuenow="{{ import.percentProgress }}"
                                 aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                </div>

            </div>
        {% endfor %}
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>
      document.addEventListener("DOMContentLoaded", () => {

        const importContainers = document.getElementsByClassName('importContainer')
        for (let i = 0; i < importContainers.length; i++) {
          const importContainer = importContainers[i]
          // const importTopic = importContainer.dataset.importTopic;
          // const mercurePublicUrl = importContainer.dataset.mercurePublicUrl;

          // const url = new URL(mercurePublicUrl)
          // url.searchParams.append('topic', importTopic);

          const eventSource = new EventSource(importContainer.dataset.mercureUrl);

          eventSource.onmessage = event => {
            // Will be called every time an update is published by the server
            // document.getElementById("message").innerHTML += (JSON.parse(event.data)).message;
            const dataEvent = JSON.parse(event.data);

            const importId = dataEvent.importId;
            const importProgress = dataEvent.importProgress;

            const progressBar = document.getElementById('importContainer' + importId).getElementsByClassName('progress-bar')[0];
            progressBar.setAttribute('aria-valuenow', importProgress)
            progressBar.setAttribute('style', 'width: ' + importProgress + '%;')
          }
        }
      })
    </script>
{% endblock %}
