{% extends 'base.html.twig' %}

{% block title %}Hello ChatController!{% endblock %}

{% block body %}
    <div class="container-fluid mt-5">
        <div class="row">
            <div class="col-3 px-1 position-fixed">
                <ul>
                    {% for user in users %}
                        {% if app.user != user %}
                            <li><a href="{{ path('app_chat', {'id': user.id}) }}"
                                   id="userChat{{ user.id }}">{{ user.email }}</a></li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
            <div class="col-9 offset-3">
                <h4 class="mb-2">Je suis {{ app.user.email }} et je discute avec {{ user.email}}</h4>
                <div id="messageContainer" data-mercure-public-url="{{ mercure_public_url }}" data-chat-topic="{{ chat.topics.0 }}" style="max-height:500px !important; overflow: scroll;">
                    {% for message in chat.messages %}
                        <div>
                            <span class="fs-6 fst-italic">{{ message.sender.email }} : </span><p class="fs-2">{{ message.message }}</p>
                        </div>
                    {% endfor %}
                </div>

                <div>
                    {{ form_start(form) }}
                    {{ form_widget(form) }}
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>
      document.addEventListener("DOMContentLoaded", () => {
        const messageContainer = document.getElementById('messageContainer')
        const chatTopic = messageContainer.dataset.chatTopic;
        const mercurePublicUrl = messageContainer.dataset.mercurePublicUrl;

        const url = new URL(mercurePublicUrl)
        url.searchParams.append('topic', chatTopic);

        const eventSource = new EventSource("{{ mercure(chat.topics[0], { subscribe: chat.topics[0] })|escape('js') }}", {
            withCredentials: true
        });

        eventSource.onmessage = event => {
          // Will be called every time an update is published by the server
          // document.getElementById("message").innerHTML += (JSON.parse(event.data)).message;
          const dataEvent = JSON.parse(event.data);

          const sender = dataEvent.sender;
          const senderId = dataEvent.senderId;
          const messageContent = dataEvent.message;

          // Créez un élément de notification
          const newMessage = document.createElement("div");
          newMessage.innerHTML = `<span class="fs-6 fst-italic">${sender} : </span><p class="fs-2">${messageContent}</p>`;

          // Ajoutez la notification au conteneur de messages
          const messageContainer = document.getElementById('messageContainer')
          messageContainer.appendChild(newMessage);

          const notification = document.createElement("div");
          notification.className = "badge text-bg-secondary";
          notification.innerHTML = `Nouveau message`;
          // Mettez à jour le lien de l'utilisateur avec une classe CSS pour indiquer une nouvelle notification
          const userLink = document.getElementById(`userChat${senderId}`);
          userLink.appendChild(notification);
        }
      })
    </script>
{% endblock %}
